name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container: debian:trixie
    steps:
      - name: Prepare
        run: |
          apt-get update
          apt-get install -y git meson ninja-build gcc g++ pkg-config \
            libwayland-dev wayland-protocols libxkbcommon-dev libcap-dev \
            libdrm-dev libvulkan-dev glslang-tools libpipewire-0.3-dev \
            libdisplay-info-dev libavif-dev libdecor-0-dev libinput-dev \
            libxdamage-dev libxcomposite-dev libxrender-dev libxres-dev \
            libxtst-dev libxmu-dev hwdata libseat-dev libliftoff-dev \
            libei-dev libdecor-0-plugin-1-cairo cmake libx11-dev \
            libsdl2-dev libxcb1-dev libxcb-composite0-dev libxcb-res0-dev \
            libxcb-ewmh-dev libxcb-icccm4-dev luajit libluajit-5.1-dev \
            libx11-xcb-dev
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Build
        run: |
          meson setup build/ --prefix=/usr --buildtype=release -Denable_openvr_support=false
          ninja -C build/
      
      - name: Upload gamescope binary
        uses: actions/upload-artifact@v4
        with:
          name: gamescope-debian13-amd64
          path: build/gamescope
          retention-days: 90
